/*
Created By ShylaNie
Last modify: 2018.02.22;
*/

html,body{
    position:relative;
    width:100%;
    overflow-x:hidden;
    height:100%;
    margin:0;
    padding:0;
}
[class^="fa-"]:before, [class*="fa-"]:before{
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*main page*/
.content-home hr{
    /*background-image:linear-gradient(0deg, transparent, #753901, transparent);
    background-image:-webkit-linear-gradient(bottom, transparent, #753901, transparent);
    background-image:-webkit-linear-gradient(0deg, transparent, #753901, transparent);*/
}
.content-home{
    margin:0 auto;
    top:50%;
    left:50%;
    width:300px;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.content .item-title.item-title-0:before{
    background:#ad3;
}
.content .item-title.item-title-1:before{
    background:#e73;
}
.content .item-title.item-title-2:before{
    background:#d55;
}
.content .item-title.item-title-3:before{
    background:#fb3;
}
.content .item-title.item-title-4:before{
    background:#49f;
}
.content.content-about .dot.icon{
    padding:0;
    text-align:center;
}
.content.content-about .dot[class*="fa-"]{
    font-size:14px;
}
.box-prev-next{
    overflow:hidden;
    margin:0;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .wrap-user-gw .user-address-gw{
    display:none !important;
}

@media screen and (min-width:1000px){
    html.page-home{
        background-image: url('/images/blog_bg_05.jpg');
        background-size:100%;
        background-position:center bottom;
        background-repeat:no-repeat;
        background-color:#000;
    }
    html.page-archives,
    html.page-category,
    html.page-tag{
        /*background-image:url('/images/blog_bg_04.jpg');*/
        background-size:100% 100%;
        background-position:center center;
        background-repeat:no-repeat;
    }
    /*html.page-category{
        background-image:url('/images/blog_bg_03.jpg');
    }
    html.page-tag{
        background-image:url('/images/blog_bg_06.jpg');
    }*/
    .content-home{
        -webkit-transform:translate(50%,-50%);
        -moz-transform:translate(50%,-50%);
        -o-transform:translate(50%,-50%);
        transform:translate(50%,-50%);
    }
    .content{
      margin-top:80px;
      border-left-width:3px;
    }
    .content-logion{
        position:absolute;
        width:50px;
    }
    .content-belt{
        /*background-image:url('/images/blog_bg_title02.png');*/
    }
    .page-header .breadcrumb .location{
        height:80px;
        line-height:50px;
        padding-left:30px;
        color:#419c8c;
        background-image:url('/images/blog_bg_title.png');
        background-repeat:no-repeat;
        background-position:center center;
        background-size:auto 100%;
    }
    .page-header .breadcrumb .location+i{
        display:none;
    }
    .page-header{
        background:transparent;
        top:-40px;
    }
    /*.page-header .box-blog-info .info .name{
        color:#795548;
    }
    .content .item-year a.text-year,
    .content .item-category-name{
        color:#fff;
    }
    .content .item-post .post-title{
        color:#ccc;
    }
    .content .item-post .post-title:hover{
        color:#419c8c;
    }
    .content .item-post .post-date{
        color:#b5b5b5;
    }*/
}

/*main page end*/

/*detail page*/
.sl-article--toc{
    position:fixed;
}
.back-top.sl-backtop{
    /*display:block;*/
}
.content.content-post .article-header .article-meta i{
    margin-left:10px;
    margin-right:1px;
}
.content.content-post hr{
    margin-top: 0;
    height: 2px;
    max-width: inherit;
}
.post-content{
    width:100%;
}
.article-tags{
    width:100%;
    padding:20px 0;
    overflow:hidden;
}
.article-tags>.article-tag{
    display:inline-block;
    margin-right:10px;
}
.post-excerpt{
    width:100%;
}
.article-content .page-forward{
    width:100%;
    font-size:0.8em;
}
    /* 代码展示 */
.article-content figure.highlight{ 
    max-height: 500px;
    overflow-y: auto;
}
/*detail page end*/




