/*change*/
html,body{
    position:relative;
    width:100%;
    overflow-x:hidden;
    height:100%;
    margin:0;
    padding:0;
}
.content-home{
    margin:0 auto;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
/*change end*/

/*_home page*/
html.page-home{
    background-image: url('/images/blog_bg_01.jpg');
    background-color: transparent;
}
html.page-archives{
    /*background-image:url('/images/blog_bg_01.jpg');*/
    background-color:transparent;
}
.content-home hr{
    background-image:linear-gradient(0deg, transparent, #753901, transparent);
    background-image:-webkit-linear-gradient(bottom, transparent, #753901, transparent);
    background-image:-webkit-linear-gradient(0deg, transparent, #753901, transparent);
}
/*_home page end*/

/*article header page*/
.page-header{
    background:transparent;
}
.page-header .breadcrumb .location{
    /*background:#fff;*/
}
.content.content-post .article-header .article-meta i{
    margin-left:10px;
}
/*article header page end*/

/*about page*/
.content.content-about .dot.icon{
    padding:0;
    text-align:center;
}
.content.content-about .dot[class*="fa-"]{
    font-size:14px;
}
/*about page end*/

/*other*/
.box-prev-next{
    overflow:hidden;
    margin:0;
}
 
[class^="fa-"]:before, [class*=" fa-"]:before{
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#SOHUCS #SOHU_MAIN .module-cmt-list .wrap-user-gw .user-address-gw{
    display:none;
}
/*other end*/
