/*
 * Created in 2018.07.19
 * Shyla Nie
 * Last Modify: 2019.05.06;
*/

/* header */
.header .logo img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform-origin: 10% 42%;
	transition: all .3s ease-in-out;
}
.header .home-link:hover .logo img{
	width: 60px;
	height: 60px;
	transform: rotate(50deg);
}
@media screen and (min-width: 1000px) and (max-width: 1500px){
	.post-article{
		width: 700px;
		position: relative;
	}
	.catalog-container{
		position: absolute;
		top: 2em;
		right: 0;
		width: 280px;
	}
}
@media screen and (min-width: 1500px){
	.post-article{
		width: 100%;
	}
}

/* article 标题 */
.article-head > a{
	background: -webkit-linear-gradient(top, transparent 93%, #42b983 0) center center/0% 75% no-repeat;
	background:    -moz-linear-gradient(top, transparent 93%, #42b983 0) center center/0% 75% no-repeat;
	background:      -o-linear-gradient(top, transparent 93%, #42b983 0) center center/0% 75% no-repeat;
	background:         linear-gradient(to bottom, transparent 93%, #42b983 0) center center/0% 75% no-repeat;
	transition: all .3s ease;
	padding-bottom: 5px;
}
.article-head > a:hover{
	background-size: 100% 100%;
	border-bottom: 0;
}
.article-head > a:active{
	background-size: 80% 100%;
	border-bottom: 0;
}

/* 文章日期 */
#article-banner .post-date span{
	display: inline-block;
}
#article-banner .post-date .post-date-left{
	margin-right: 10px;
}
/* 文章日期 end */


/* 外链 */
.share-icons .icon-fa-github{
	color: #24292e;
}
.share-icons .icon-fa-stack-overflow{
	color: #f48024;
}

/* 外链 end */

/* 友链 */
.about-links{
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	position: relative;
}
/* 标题 */
.about-links .abo-lk-title{
	font-size: 1.4em;
	font-weight: 600;
	margin: 2em 0;
}
/* 列表 */
.about-links .abo-lk-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.about-links .abo-lk-item{
	display: inline-block;
	margin-bottom: 20px;
	width: 49%;
}
.about-links .abo-lk-url{
	display: block;
	position: relative;
	overflow: hidden;
}
/* 头像 */
.about-links .abo-lk-avatar{
	float: left;
	width: 55px;
	height: 55px;
	padding: 3px;
	border-radius: 50%;
	border: 1px solid #42b983;
}
.about-links .abo-lk-wrap{
	position: relative;
	padding-left: 80px;
	width: 100%;
	text-align: left;
}
.about-links .abo-lk-w--name{
	margin-top: 5px;
	margin-bottom: 10px;
	color: #333;
	font-weight: 600;
}
@media screen and (max-width: 720px){
	.about-links .abo-lk-item{
		width: 100%;
	}
}
/* 友链 end */